@mixin center($position) {
    position: $position;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin hoverBehaviour() {
    opacity: .5;

    &:hover {
        cursor: pointer;
        opacity: 1;
    }
}