@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.fadeIn {
  animation: fadeIn 500ms forwards; }

.fadeOut {
  animation: fadeOut 500ms forwards; }

div.beyonder-modal {
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 10;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem; }
  div.beyonder-modal header, div.beyonder-modal main, div.beyonder-modal footer {
    display: flex;
    padding: 15px; }
  div.beyonder-modal > header {
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eceeee; }
    div.beyonder-modal > header > h5.modal-title {
      font-size: 1.25rem;
      margin: 0;
      color: orange; }
    div.beyonder-modal > header > button.modal-close {
      background: 0;
      border: 0;
      font-size: 1.4em;
      opacity: .5; }
      div.beyonder-modal > header > button.modal-close:hover {
        cursor: pointer;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 50%; }
  div.beyonder-modal > main {
    flex: 1 1 auto;
    font-size: 1rem;
    line-height: 1.5rem; }
  div.beyonder-modal > main + footer {
    border-top: 1px solid #eceeee; }
  div.beyonder-modal > footer {
    justify-content: flex-end; }

@media screen and (min-width: 320px) {
  div.beyonder-modal {
    min-width: 90%;
    max-width: 90%; } }

@media screen and (min-width: 992px) {
  div.beyonder-modal {
    min-width: 60%;
    max-width: 80%;
    min-height: 400px; } }
