@import "../_helpers.scss";
@import "../_effects.scss";

div.beyonder-modal {
    padding: 0;
    display: flex;
    flex-direction: column;
    
    font-family: Arial, Helvetica, sans-serif;

    header, main, footer {
        display: flex;
        padding: 15px;
    }

    z-index: 10;
    box-shadow: 0 0 0 9999px rgba(0,0,0,0.7);

    @include center(absolute);
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.3rem;

    & > header {
        align-items: center;
        justify-content: space-between;

        & > h5.modal-title {
            font-size: 1.25rem;
            margin: 0;
            color: orange;
        }

        & > button.modal-close {
            background: 0;
            border: 0;
            font-size: 1.4em;
            opacity: .5;

            &:hover {
                cursor: pointer;
                color: #fff;
                background-color: rgba(0, 0, 0, 0.8);
                border-radius: 50%;
            }
        }

        border-bottom: 1px solid #eceeee;
    }

    & > main {
        flex: 1 1 auto;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    & > main + footer {
        border-top: 1px solid #eceeee;
    }

    & > footer {
        justify-content: flex-end;
    }

}

@media screen and (min-width: 320px) {
    div.beyonder-modal {
        min-width: 90%;
        max-width: 90%;
    }
}

@media screen and (min-width: 992px) {
    div.beyonder-modal {
        min-width: 60%;
        max-width: 80%;
        min-height: 400px;
    }
}